
/* Large Viewports for Big Daddy Monitors */
@custom-media --viewport-1920 (width <= 1920px);
@custom-media --viewport-1440 (width <= 1440px);
@custom-media --viewport-1280 (width <= 1280px);

/* Standard Viewports */
@custom-media --viewport-tablet (width <= 992px);
@custom-media --viewport-mobile-landscape (width <= 768px);
@custom-media --viewport-mobile-portrait (width <= 478px);


/* Custom Selectors */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;


/* Global Variables */
:root {
    --fontColor: #00FF66;

    --background-main:#000000;
    --background-side:#1b1b1b;
    --primary-color1: #00FF66;
    --secondary-color1:#E6FB04;
    --primary-color2:#FF0099;
    --secondary-color2:#FF00CC;


}

/* Main Styling */
body { 
    margin: 0; 
    font-family: 'Jost';
    background-color: rgb(0, 0, 0);
    color: var(--fontColor);
    cursor: url(img/alien.cur), auto;
    height:4000px;
    line-height: 1.5;
}

a {
    color: var(--fontColor);
}

p {
    font-size: var(--p-size);
}

div.type-container {
    color: var(--fontColor) ; 
    font-size: 275px;
    border-radius: 50% ;
    font-family: Agrandir;
    text-align: center;
    line-height: 1;
    width: 100%;
}

.hero-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }


  

/* Start Custom Media Queries */ 
@media (--viewport-tablet) {
    
    
    :root {
        --fontColor: #E6FB04;
    }


  }
