
@font-face{
    font-family: "Jost";
    font-weight: 400;
    src: url(fonts/jost-book.woff2), url(fonts/jost-book.woff);
}

@font-face{
    font-family: "Jost";
    font-weight: 700;
    src: url(fonts/jost-semi.woff2), url(fonts/jost-semi.woff);
}


@font-face{
    font-family:"Bagnard";
    src: url(fonts/Bagnard.woff2), url(fonts/Bagnard/.woff);
}

@font-face{
    font-family:"Jetbrain";
    src: url(fonts/JetBrainsMono-Regular.woff2), url(fonts/Bagnard/.woff);
}

  
  @font-face{
    font-family: 'Agrandir';
    src: url(fonts/AgrandirVariable.ttf) format('truetype');
  }
  
  @font-face{
    font-family: 'NeueWorld';
    src: url(fonts/NeueWorld-CondensedRegular.otf);
  }
  

